<div class="flex flex-row items-center justify-center gap-3">
	<a href="https://github.com/liyunze-coding" target="_blank">
		<div
			class="flex h-8 w-8 items-center justify-center rounded-full bg-white transition-[filter] duration-150 hover:invert"
		>
			<img
				src="/images/socials/github.svg"
				alt="github"
				class="aspect-square max-w-full"
				width="20"
			/>
		</div>
	</a>
	<a href="https://codepen.io/rythondev" target="_blank">
		<div
			class="flex h-8 w-8 items-center justify-center rounded-full bg-white transition-[filter] duration-150 hover:invert"
		>
			<img
				src="/images/socials/codepen.svg"
				alt="codepen"
				class="aspect-square h-5 w-5"
			/>
		</div>
	</a>
	<a href="https://codeberg.org/RythonDev" target="_blank">
		<div
			class="flex h-8 w-8 items-center justify-center rounded-full bg-white transition-[filter,background-color] duration-150 hover:invert"
		>
			<img
				src="/images/socials/codeberg.svg"
				alt="youtube"
				class="aspect-square h-5 w-5"
			/>
		</div>
	</a>
	<a href="https://twitch.tv/RythonDev" target="_blank">
		<div
			class="flex h-8 w-8 items-center justify-center rounded-full bg-white transition-[filter,background-color] duration-150 hover:bg-[#6eb900] hover:invert"
		>
			<img
				src="/images/socials/twitch.svg"
				alt="twitch"
				class="aspect-square h-4 w-4"
			/>
		</div>
	</a>
</div>
